@import "./_var.scss";
body {
  width: 320px;
  margin: 0;
}
.nav__header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .img__icon-pazioli {
    margin-top: 32px;
    margin-left: 15.55px;
  }
}
.first-section p {
  color: rgba(133, 133, 133, 1);
  font-family: $Raleway;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
h1 {
  font-family: $Abril;
  color: $black;
  font-size: 32px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.18rem;
  line-height: 43px;
  transform: scale(0.9, 1);
  margin-bottom: 40px;
}
.top__buttons--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  margin-bottom: 40px;

  .see-courses {
    width: 130px;
    height: 35px;
    background-color: $FBlack;
    color: $white;
    border-radius: $radius;
    letter-spacing: 0.1rem;
    border: none;
  }
  .sell-piano {
    width: 130px;
    height: 35px;
    background-color: white;
    color: $black;
    border: $Bborder;
    border-radius: $radius;
    letter-spacing: 0.1rem;
  }
  .piano-black {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    position: relative;
  }
}
.new-model {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(0, 0, 0, 0.75) 37.19%,
    rgba(0, 0, 0, 0.75) 76.04%,
    #ffffff 100%
  );
}
.second-section {
  video {
    margin: 0;
    height: 70%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
  .second-section,
  h2 {
    font-family: $Abril;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1rem;
    display: flex;
  }
  .second-section,
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
  }
}
.description-second-section h3 {
  color: $white;
  text-align: center;
  font-family: $Abril;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 2px;
  + p {
    color: $white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
    font-family: $Raleway;
    font-weight: 400;
  }
}
.value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  p {
    font-family: $Raleway;
    color: $white;
    font-weight: 400;
    margin-bottom: 0px;
  }
  img {
    height: 17px;
    align-items: center;
    display: flex;
    padding-top: 15px;
  }
}
.description-second-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  font-family: $Raleway;
  font-weight: 400;
  color: $white;
  font-family: $Raleway;
  li:first-child {
    list-style: none;
    margin-bottom: 20px;
  }
}
.btn-second-section--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
  button {
    width: 250px;
    height: 32px;
    background-color: $FBlack;
    border: none;
    color: $white;
    border-radius: $radius;
    font-family: $Raleway;
    font-weight: 700;
    letter-spacing: 0.05rem;
  }
}
.btn-second-section {
  margin: auto;
  width: 228;
  height: 32px;
  background-color: $FBlack;
  border: none;
  color: $white;
  border-radius: $radius;
}