$Bborder: 1px solid #000000;
$radius:8px;
$Wborder:1px solid #FFFFFF;

// Tipo de color para las letras
$white:rgba(255, 255, 255, 1);
$black:rgba(0, 0, 0, 1);

// fondos 
$FBlack:#000000;
$FWhite:#FFFFFF;

// fontfamilys
$Abril: 'Abril Fatface', cursive;
$Raleway:'Raleway', sans-serif ;
$poppins:'Poppins', sans-serif;

///shadow cards

$Sombreado:0px 28px 64px 12px rgba(0, 0, 0, 0.12);

///input
$Iborder:1px rgba(255, 255, 255, 1);
$back: rgba(0, 0, 0, 0.65);